@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Merriweather";
    font-weight: normal;
    font-style: normal;
    src: url("assets/fonts/Merriweather-Regular.ttf") format("opentype");
  }
  
  @font-face {
    font-family: "PT Root";
    font-weight: bold;
    font-style: normal;
    src: url("assets/fonts/PT Root UI_Bold.ttf") format("opentype");
  }
  
  @font-face {
    font-family: "PT Root";
    font-weight: 300;
    font-style: normal;
    src: url("assets/fonts/PT Root UI_Medium.ttf") format("opentype");
  }
  
  @font-face {
    font-family: "PT Root";
    font-weight: normal;
    font-style: normal;
    src: url("./assets/fonts/PT Root UI_Regular.ttf") format("opentype");
  }

  html {
    @apply text-gray-500 font-sans;
  }

  body {
    @apply bg-main-bg;
  }
}
